*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-menu {
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%,0);
    width: 50vw;
    height: 50px;
    line-height: 50px;
    background: aqua;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.menu {
    display: flex;
}
.menu>li {
    list-style: none;
    flex: 1;
    font-size: 25px;
    cursor: pointer;
}
.menu>li:hover>a {
    color:black;
}
.btz {
    border:none;
}
.menu>li>a {
    color:aliceblue;
    text-decoration: none;
    transition: 0.5s ease;
    display: inline-block;
    padding:0 20px;
}
.menu>li>.active {
    color:black;
    border-bottom: 5px solid black;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}