* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2c3e50
}

.content {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

.tym__sub {
	position: relative;
	margin: auto;
	height: 200px;
	width: 300px;
	animation: yeuhuyen 1s infinite;
}

.tym__sub:before, .tym__sub:after {
	content: '';
	position: absolute;
	background:  #fff;
	width: 160px;
	height: 250px;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
}

.tym__sub:before {
	left: 160px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

.tym__sub:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

@keyframes yeuhuyen {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(.85);
	}
	60% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}




/* demo */
html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;
}
body, head {
    display: block;
    font-size: 52px;
    color: transparent;
}
head::before, head::after, body::before, body::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
}
body::before {
    text-shadow: 1.4469179132em -0.2484387079em 7px rgba(200, 255, 0, 0.9), 1.548271509em 1.4979465558em 7px rgba(197, 255, 0, 0.9), 0.4364296715em 0.5841632317em 7px rgba(255, 0, 244, 0.9), 0.7803288182em 1.9199877219em 7px rgba(227, 255, 0, 0.9), 1.6742865572em 0.6637407426em 7px rgba(20, 255, 0, 0.9), 2.2172811857em 0.5033741358em 7px rgba(0, 145, 255, 0.9), 1.7690812967em -0.073746644em 7px rgba(98, 255, 0, 0.9), 1.3709074788em 2.3007757056em 7px rgba(244, 255, 0, 0.9), 1.4092981671em 0.8910050122em 7px rgba(255, 0, 18, 0.9), 1.6318340413em 0.3355071717em 7px rgba(255, 171, 0, 0.9), 0.5758578461em -0.1029847218em 7px rgba(158, 0, 255, 0.9), 0.3581720323em -0.2429440062em 7px rgba(89, 255, 0, 0.9), -0.1377949399em 0.2662420582em 7px rgba(255, 224, 0, 0.9), 1.163343063em -0.0932347265em 7px rgba(0, 194, 255, 0.9), -0.0038499337em 0.110036394em 7px rgba(0, 167, 255, 0.9), 1.2596900885em 1.2297838886em 7px rgba(0, 77, 255, 0.9), -0.0680234604em -0.4410600164em 7px rgba(255, 182, 0, 0.9), -0.3103953175em -0.0806499127em 7px rgba(0, 45, 255, 0.9), 1.0172613775em 0.1660869958em 7px rgba(37, 255, 0, 0.9), 0.3922557439em 0.1748261227em 7px rgba(255, 62, 0, 0.9), 0.7662315501em 0.3837344613em 7px rgba(0, 240, 255, 0.9), 2.2123264182em 1.7633885617em 7px rgba(0, 116, 255, 0.9), 0.8995589418em 0.7519516531em 7px rgba(0, 255, 198, 0.9), 2.4684896282em 1.3162668367em 7px rgba(255, 0, 168, 0.9), -0.0351783485em -0.1189509222em 7px rgba(255, 0, 115, 0.9), 0.482348776em 1.9581907909em 7px rgba(0, 248, 255, 0.9), 1.0600614422em 1.780221024em 7px rgba(218, 0, 255, 0.9), 1.843186915em 1.5258803602em 7px rgba(102, 0, 255, 0.9), -0.466000897em 1.6612866551em 7px rgba(131, 0, 255, 0.9), -0.0842487329em 0.4041124199em 7px rgba(0, 255, 126, 0.9), 1.3692961249em 1.9323074666em 7px rgba(190, 0, 255, 0.9), 0.8194365734em 1.9365443617em 7px rgba(255, 0, 21, 0.9), 2.4466922454em 1.8306570334em 7px rgba(255, 145, 0, 0.9), -0.134806307em 2.4628379212em 7px rgba(0, 28, 255, 0.9), -0.1599825098em -0.4520242299em 7px rgba(255, 6, 0, 0.9), 1.9568551657em 1.3818798487em 7px rgba(255, 131, 0, 0.9), -0.2711396767em 2.2059968419em 7px rgba(250, 255, 0, 0.9), -0.4386154008em 0.9662520274em 7px rgba(255, 0, 104, 0.9), -0.4393299616em -0.1588700441em 7px rgba(0, 255, 175, 0.9), 2.261168843em -0.093245515em 7px rgba(0, 69, 255, 0.9), 2.026826425em 1.0278815368em 7px rgba(0, 255, 243, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
}
body::after {
    text-shadow: -0.4636797598em 0.9732408952em 7px rgba(0, 255, 254, 0.9), 2.0754554041em 1.3912176894em 7px rgba(0, 255, 17, 0.9), 1.0537476751em 0.2247933557em 7px rgba(255, 0, 83, 0.9), 1.6550324429em 0.4207086736em 7px rgba(235, 255, 0, 0.9), 1.8887964833em 0.4777565634em 7px rgba(48, 0, 255, 0.9), 2.3192137635em 0.0808348685em 7px rgba(95, 0, 255, 0.9), 0.536189472em 1.3644226327em 7px rgba(255, 0, 103, 0.9), -0.1085532874em 0.6171558258em 7px rgba(255, 0, 168, 0.9), 2.0511023167em 0.0493490644em 7px rgba(114, 0, 255, 0.9), -0.0297154116em 0.1484378886em 7px rgba(223, 255, 0, 0.9), 2.2373122546em 1.5004008108em 7px rgba(239, 255, 0, 0.9), 1.7440886172em 0.8079129375em 7px rgba(0, 255, 203, 0.9), 1.8299807969em 1.775675506em 7px rgba(24, 255, 0, 0.9), -0.2713790743em 1.5525178273em 7px rgba(255, 250, 0, 0.9), 2.1905933337em 1.8384432491em 7px rgba(33, 255, 0, 0.9), 1.7081450078em 1.6791876869em 7px rgba(0, 255, 61, 0.9), 1.8707975961em 1.8679909718em 7px rgba(0, 91, 255, 0.9), -0.1289047235em 1.7679441649em 7px rgba(62, 255, 0, 0.9), 1.9003437443em 0.0610632512em 7px rgba(0, 209, 255, 0.9), 0.180173222em 1.9224627684em 7px rgba(255, 213, 0, 0.9), 1.2474392276em -0.3468410128em 7px rgba(0, 255, 186, 0.9), 1.2608101753em 1.7195083633em 7px rgba(0, 255, 182, 0.9), 1.1975612966em -0.0444447371em 7px rgba(245, 255, 0, 0.9), 1.4714963855em -0.2396825473em 7px rgba(255, 31, 0, 0.9), 1.3200000382em 1.485329311em 7px rgba(255, 0, 123, 0.9), 0.1095327977em 0.6146231985em 7px rgba(0, 255, 113, 0.9), 2.2207101111em 1.3109227569em 7px rgba(255, 0, 147, 0.9), 0.5032135309em -0.1064499659em 7px rgba(0, 255, 162, 0.9), 0.0317524438em 1.1078789086em 7px rgba(0, 17, 255, 0.9), 1.1391392482em 1.9465486633em 7px rgba(0, 15, 255, 0.9), 1.3910447308em 1.4055380629em 7px rgba(255, 0, 1, 0.9), 0.9643385278em 0.7504087446em 7px rgba(0, 255, 95, 0.9), 2.3376660047em 1.5363671094em 7px rgba(255, 249, 0, 0.9), 1.3977553216em 0.2035845622em 7px rgba(107, 0, 255, 0.9), 0.1444878081em 1.8339681917em 7px rgba(181, 0, 255, 0.9), 1.5632531732em 1.7133309582em 7px rgba(0, 130, 255, 0.9), 1.8077234165em 0.6009796601em 7px rgba(255, 179, 0, 0.9), 0.2984922192em 1.0264137556em 7px rgba(0, 29, 255, 0.9), 1.1361086289em 0.3448431427em 7px rgba(255, 186, 0, 0.9), 0.1254264974em 0.0530972397em 7px rgba(0, 255, 201, 0.9), 1.0658983459em 1.477038729em 7px rgba(255, 0, 52, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
}
head::before {
    text-shadow: 1.307137004em 1.0660894731em 7px rgba(0, 255, 12, 0.9), 2.3514673074em 0.7380170434em 7px rgba(0, 255, 71, 0.9), 0.8898010934em 0.2275015112em 7px rgba(125, 255, 0, 0.9), 2.2540427498em 1.8440587265em 7px rgba(0, 9, 255, 0.9), -0.0731034612em 1.1015785821em 7px rgba(255, 0, 174, 0.9), 1.5710641206em 0.5273494574em 7px rgba(174, 0, 255, 0.9), 0.5414276532em 0.47349514em 7px rgba(193, 0, 255, 0.9), 1.9344733308em 1.7384178383em 7px rgba(255, 0, 119, 0.9), 1.7104471891em 1.2618955317em 7px rgba(0, 10, 255, 0.9), 0.7847544153em 1.5931321424em 7px rgba(183, 0, 255, 0.9), -0.2534443266em 0.2491695216em 7px rgba(248, 0, 255, 0.9), 1.5574579491em 0.7859092213em 7px rgba(0, 176, 255, 0.9), 0.4645759853em 1.8347679288em 7px rgba(255, 0, 213, 0.9), 0.010846852em 0.1420833619em 7px rgba(255, 28, 0, 0.9), -0.4894200024em 2.122567502em 7px rgba(255, 0, 187, 0.9), 1.0469615064em 1.1728695452em 7px rgba(0, 218, 255, 0.9), 0.8764552261em 1.2466043526em 7px rgba(255, 0, 248, 0.9), 0.6439039121em 1.7880315641em 7px rgba(255, 57, 0, 0.9), 1.5986399734em 2.4530128506em 7px rgba(255, 193, 0, 0.9), 1.0853768477em 1.3474683729em 7px rgba(0, 255, 116, 0.9), 2.3317247986em 2.1372837714em 7px rgba(0, 255, 253, 0.9), 1.8665828108em 0.7551288518em 7px rgba(27, 0, 255, 0.9), 2.2955930749em 0.8152595473em 7px rgba(255, 0, 207, 0.9), 1.1136735544em 0.8259704357em 7px rgba(0, 255, 32, 0.9), 0.5806348749em 1.1413717994em 7px rgba(0, 175, 255, 0.9), 0.5035219224em 0.8905379536em 7px rgba(67, 0, 255, 0.9), 1.0945794318em 1.2361579839em 7px rgba(0, 255, 163, 0.9), 1.254982395em 2.1633954197em 7px rgba(255, 0, 100, 0.9), 1.7529964581em -0.472432693em 7px rgba(255, 0, 144, 0.9), -0.157120936em -0.2748394678em 7px rgba(255, 0, 94, 0.9), 0.9534860337em -0.461016849em 7px rgba(255, 0, 162, 0.9), 0.8248173467em -0.0703519157em 7px rgba(255, 0, 11, 0.9), 2.1668312788em 1.0246229966em 7px rgba(87, 255, 0, 0.9), -0.479100124em 1.9298227585em 7px rgba(39, 255, 0, 0.9), 1.9362013029em 1.9377571137em 7px rgba(255, 0, 135, 0.9), 1.2519854645em 0.9874285533em 7px rgba(0, 255, 198, 0.9), 1.0591180802em 0.2810382048em 7px rgba(0, 255, 50, 0.9), 0.7183759676em 0.3283930946em 7px rgba(0, 255, 130, 0.9), 1.1990618965em 0.5944017155em 7px rgba(36, 255, 0, 0.9), 0.849377494em 1.8673001572em 7px rgba(0, 179, 255, 0.9), 0.5522275754em 0.7865632853em 7px rgba(0, 255, 185, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
}
head::after {
    text-shadow: 1.8861311746em 1.8206166392em 7px rgba(255, 0, 233, 0.9), 0.4658637066em 0.5898338928em 7px rgba(109, 0, 255, 0.9), 0.9554960569em 0.2103046678em 7px rgba(127, 0, 255, 0.9), 1.3845775439em -0.4040824474em 7px rgba(0, 255, 30, 0.9), 1.834594146em 2.2889971345em 7px rgba(125, 0, 255, 0.9), 1.5635092552em 0.7160728871em 7px rgba(255, 160, 0, 0.9), 0.178968938em 1.710610591em 7px rgba(45, 0, 255, 0.9), 2.2470899709em 1.2072943953em 7px rgba(0, 255, 28, 0.9), 0.2256902079em 1.5276396996em 7px rgba(255, 197, 0, 0.9), 1.3261041261em 2.2174053027em 7px rgba(0, 201, 255, 0.9), 1.5744448731em 0.5206472626em 7px rgba(12, 255, 0, 0.9), 1.5450312957em 2.4774057682em 7px rgba(0, 103, 255, 0.9), 1.0003032993em 0.002205079em 7px rgba(255, 150, 0, 0.9), -0.1528455029em 2.2249129419em 7px rgba(0, 187, 255, 0.9), 1.9506540979em 2.0745422481em 7px rgba(64, 0, 255, 0.9), 1.2396069509em 0.7762650316em 7px rgba(0, 255, 111, 0.9), 0.9027651609em -0.4296646698em 7px rgba(0, 40, 255, 0.9), 0.1561460613em 1.7491119847em 7px rgba(0, 189, 255, 0.9), 0.7780559231em 2.4777206102em 7px rgba(0, 255, 90, 0.9), -0.4017567048em 2.0063354174em 7px rgba(0, 77, 255, 0.9), 0.608648631em 0.2528011229em 7px rgba(255, 0, 146, 0.9), 1.9698547282em 1.6033717379em 7px rgba(0, 255, 137, 0.9), -0.1079139612em 0.6531764847em 7px rgba(0, 255, 206, 0.9), 2.1959180167em 1.0326326339em 7px rgba(255, 42, 0, 0.9), 1.0538864759em 2.2506725279em 7px rgba(255, 187, 0, 0.9), 0.6811453044em -0.0178904534em 7px rgba(227, 255, 0, 0.9), 0.2577833717em 1.9006921393em 7px rgba(0, 155, 255, 0.9), -0.1046681649em 0.3232686153em 7px rgba(0, 255, 32, 0.9), 0.7317757233em 0.6954046694em 7px rgba(255, 0, 121, 0.9), 0.2194261597em 0.0134074426em 7px rgba(0, 245, 255, 0.9), 2.080092085em -0.1082538885em 7px rgba(253, 255, 0, 0.9), 1.4158645216em 0.099966076em 7px rgba(0, 255, 32, 0.9), 1.7229530227em -0.2202410874em 7px rgba(0, 172, 255, 0.9), 0.1403905853em 0.8940840906em 7px rgba(0, 255, 183, 0.9), 0.5336075625em -0.3260098407em 7px rgba(0, 255, 159, 0.9), 1.7492789853em 0.1467421363em 7px rgba(255, 0, 39, 0.9), 0.2992646948em 2.280201326em 7px rgba(226, 255, 0, 0.9), 2.0881572201em 0.1287479515em 7px rgba(0, 187, 255, 0.9), 0.4506777289em 1.3218625822em 7px rgba(255, 0, 124, 0.9), 2.3911267081em 1.7950735991em 7px rgba(255, 0, 216, 0.9), 2.0627211322em 2.2877589538em 7px rgba(181, 255, 0, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
}
html::before {
    content: '';
    letter-spacing: .5em;
    text-shadow: 0 0 5px #000;
    white-space: pre;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #999;
}
html:first-line {
    font-size: 300%;
    font-style: italic;
    letter-spacing: 0;
    color: #fff;
}
@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}